{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ subcategory.subcategory }}</h1><br>
        <p class="text-center">*** Please check to see whether what you are looking for is available for comparison ***</p><hr>
    </div>
    <div class="container">
        {% if subcategory.sub_subcategory_set.all %}
            {% for sub_subcategory in subcategory.sub_subcategory_set.all %}
                <p>{{ sub_subcategory.sub_subcategory }}</p>
            {% endfor %}
        {% else %}
            <p>Populating Soon ...</p>
        {% endif %}
    </div>
{% endblock %}